@page "/logout"
@attribute [Authorize]
@inject NavigationManager Nav
@inject HelpDeskHero.UI.Services.Auth.AuthSessionService AuthSession

<p>Wylogowywanie...</p>

@code {
	protected override async Task OnInitializedAsync()
	{
		await AuthSession.LogoutAsync();
		Nav.NavigateTo("/login", true);
	}
}