@page "/logout"
@inject HelpDeskHero.UI.Services.Api.AuthApiClient AuthApi
@inject NavigationManager Nav

<h3>Wylogowywanie...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthApi.LogoutAsync();
        Nav.NavigateTo("/login", true);
    }
}